.navbar {
  border-radius: 0px;
}

.navbar-text {
  color: #b2dbfb !important;
}

// Align dropdown menu with "Aker" button when on desktop
@media only screen and (min-width: 769px)  {
  .dropdown-menu {
    margin-left: -14px;
  }
}

// Mobile optimisations
@media only screen and (max-width: 768px)  {
  .navbar-text {
    // Add margin to Aker button so it isn't touch the edge of the display on mobile
    margin: 10px 15px;
  }
  .nav {
    margin: 0px;
  }
  .navbar-toggle {
    margin: 10px 10px 0px;
  }
  .navbar-brand {
    padding: 20px 15px 0px !important;
  }
}

// Make navbar text white
.navbar-text, .navbar-inverse .navbar-nav > li > a {
  color: white !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// LOCAL DEVELOPMENT environment
$development: #441f84;
// Set colour for Aker button background
#development.navbar-inverse .navbar-nav > .open > a {
  background-color: darken($development, 12.5%);
  &:hover, &:focus {
    background-color: darken($development, 12.5%);
  }
}
// Navigation bar background colour
#development {
  background-color: $development;
}
#current-page-development {
  background-color: darken($development, 12.5%);
  font-weight: bold;
}

// WIP environment
$wip: linear-gradient(to top, #ee0979, #ff6a00);
// Set colour for Aker button background
#wip.navbar-inverse .navbar-nav > .open > a {
  background: linear-gradient(to top, #ee0979, #ff6a00);
  &:hover, &:focus {
    background: linear-gradient(to top, darken(#ee0979, 5%), darken(#ff6a00, 5%));
  }
}
// Navigation bar background colour
#wip {
  background: linear-gradient(to top, #ee0979, #ff6a00);
}
#current-page-wip {
  background: linear-gradient(to top, darken(#ee0979, 5%), darken(#ff6a00, 5%));
  font-weight: bold;
}


// UAT environment
$uat: #2196F3;
// Set colour for Aker button background
#uat.navbar-inverse .navbar-nav > .open > a {
  background-color: darken($uat, 12.5%);
  &:hover, &:focus {
    background-color: darken($uat, 12.5%);
  }
}
// Navigation bar background colour
#uat {
  background-color: $uat;
}
#current-page-uat {
  background-color: darken($uat, 12.5%);
  font-weight: bold;
}

// PROD environment
$prod: linear-gradient(to bottom, #373b44, #4286f4);
// Set colour for Aker button background
#prod.navbar-inverse .navbar-nav > .open > a {
  background: linear-gradient(to bottom, #373b44, #4286f4);
  &:hover, &:focus {
    background: linear-gradient(to bottom, darken(#373b44, 5%), darken(#4286f4, 5%));
  }
}
// Navigation bar background colour
#prod {
  background: linear-gradient(to bottom, #373b44, #4286f4);
}
#current-page-prod {
  background: linear-gradient(to bottom, darken(#373b44, 5%), darken(#4286f4, 5%));
  font-weight: bold;
}
